body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;;
    background-color: #f5f5f5c3;
    background-image:url(/lab2.1/back.jpg);
}
 .form{
    background-color: #f5f5f5c3;
    border-radius: 10px;
    width: 150px;
 }